/* color palette */
:root {
    --color-white-10: #dedede;
    --color-white-20: #f2f2f2;

    --color-black-10: #181818;
    --color-black-20: #252525;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--color-white-10);
    --color-text: var(--color-black-20);

    --border: 1pt solid var(--color-text);
    --radius: 2pt;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-black-20);
        --color-text: var(--color-white-20);
    }
}
